/*************
*  Utility
**************/

/* Box Sizing */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear Class */
.clear{
	overflow: auto;
}

/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*************
*  Base
**************/

body {
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  color: black;
}

header {
  margin: 10px;
  border: 1px solid black;
  width: 960;
  height:125px;
  padding: 10px;
  border-bottom: 6px solid black;
  background: white;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

nav {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

ul {
  padding: 0px;
}
li {
  list-style: none;
  display: inline-block;
  margin: 0px 40px;
}

a {
  text-decoration: underline;
  color: blue;
}
a:hover {
  text-decoration: none;
  color: red;
}


@media screen and (max-width: 640px) {

 #hamburger {
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    float: right;
   }
  #hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 60%;
    background: yellow;
    opacity: 1;
    left: 50%;
    margin-top: 29%;
  }

  #hamburger span:nth-child(1) {
    top: 0px;
  }

  #hamburger span:nth-child(2) {
    top: 8px;
  }

  #hamburger span:nth-child(3) {
    top: 16px;
  }

}